@import "tailwindcss";


@theme {
  --font-sans: Poppins, sans-serif;

  --color-background: #F8FAFC; /* Background Light White */
  --color-primary: #D9EAFD; /* Primary Blue (buttons, links, highlights) */
  --color-primary-green: #D9F7E0; /* Primary Green */
  --color-primary-red: #FAD9DA; /* Primary Red */
  --color-secondary: #BCCCDC; /* Secondary Blue (borders, dividers, secondary text) */
  --color-text: #9AA6B2; /* Main text, icons */
}

body {
  @apply bg-[var(--color-background)] text-[var(--color-text)] tracking-wide font-sans;
}